<div class="container mt-5" dir="rtl" style="text-align: right;">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h1 class="h5 mb-0 text-primary">רשימת משימות</h1>
          <a routerLink="/new" class="btn btn-primary btn-sm">
            + משימה חדשה
          </a>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-custom align-middle">
              <thead>
                <tr>
                  <th>כותרת</th>
                  <th>תיאור</th>
                  <th>עדיפות</th>
                  <th>סטטוס</th>
                  <th>תאריך יעד</th>
                  <th class="text-end">פעולות</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks()">
                  <td>{{ task.title }}</td>
                  <td>{{ task.description }}</td>
                  <td>
                    <span class="badge" [ngClass]="getPriorityClass(task.priority)">
                      {{ task.priority }}
                    </span>
                  </td>
                  <td>
                    <span class="badge" [ngClass]="getStatusClass(task.status)">
                      {{ task.status }}
                    </span>
                  </td>
                  <td>{{ formatDate(task.dueDate) }}</td>
                  <td class="text-end">
                    <button type="button" class="btn btn-link icon-btn text-primary" (click)="editTask(task)" title="עריכה">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M12.146.292a.5.5 0 0 1 .708 0l2.854 2.854a.5.5 0 0 1 0 .708l-10.5 10.5a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10.5-10.5zM11.207 2.5 13.5 4.793 2.5 15.793 0.207 13.5 11.207 2.5z"/>
                      </svg>️
                    </button>
                    <button type="button" class="btn btn-link icon-btn text-primary" (click)="deleteTask(task.id!)" title="מחיקה">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M5.5 5a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0v-6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 1a.5.5 0 0 0-.5.5v1h13V1.5a.5.5 0 0 0-.5-.5H10.6a.5.5 0 0 1-.5-.5H5.5a.5.5 0 0 1-.5.5H2.5z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="tasks().length === 0" class="alert alert-secondary mt-3">
        אין משימות ממתינות. <a routerLink="/new" class="text-primary">צור משימה חדשה</a>
      </div>
    </div>
  </div>
</div>
